body {
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
}

.searchContainer {
    display: flex;
    margin-bottom: 5px;
}

#gifImg {
    margin-bottom: 5px;
    border: solid 1px black;
}

#gifSearchInput {
    width: 70%;
}

#gifSearchBtn {
    width: 30%;
}